# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#テスト用画像
public/assets/img/testicon9.JPG
public/assets/img/testicon8.jpg
public/assets/img/testicon7.jpg
public/assets/img/testicon6.jpg
public/assets/img/testicon5.jpg
public/assets/img/testicon4.jpg
public/assets/img/testicon3.jpg
public/assets/img/testicon2.jpg
public/assets/img/testicon18.png
public/assets/img/testicon17.png
public/assets/img/testicon16.png
public/assets/img/testicon15.png
public/assets/img/testicon14.png
public/assets/img/testicon13.png
public/assets/img/testicon12.jpg
public/assets/img/testicon11.jpg
public/assets/img/testicon10.jpg
public/assets/img/testicon1.jpg
public/assets/img/testicon.png
